extends layout

block content

    div(class='container' id="treeContainer")
        button(class='addRoot' id='addRoot') Add root
        div(class='genMenu', id='genMenu', style='display: none;', data-id="")
            button(class='factoryMenu genButton')
                i(class="fa fa-play" style='margin-right: 5px; padding: 5px;')
                | Generate
        div(id='tree')
