extends layout

block content

    div(class='container' id="treeContainer")
        button(class='addRoot yes' id='addRoot') Add root
        div(class='genMenu', id='genMenu', style='display: none;', data-id="")
            span(class='genError') Please enter a valid number between 1 and 15
            input(type='text' class="genInput" placeholder="Generation # (1-15)")
            button(class="genButton yes generate" type='button') Generate
            button(class="genButton no cancel" type='button') Cancel
        div(id='tree')
