doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/fontawesome/css/font-awesome.min.css')
    link(href='http://fonts.googleapis.com/css?family=Roboto+Slab', rel='stylesheet', type='text/css')
    script(type='text/javascript', src='/jquery/dist/jquery.min.js')
    script(type='text/javascript', src='/javascripts/bundle.js')
  body
    block content
