*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
[class*='blk-'] {
  display: inline-block;
  vertical-align: top;
}
.blk-1 {
  width: 100%;
}
.blk-2 {
  width: 50%;
}
.blk-3 {
  width: 33.33%;
}
.blk-4 {
  width: 25%;
}
.blk-5 {
  width: 20%;
}
.blk-6 {
  width: 16.66666666666667%;
}
.blk-7 {
  width: 14.28571428571429%;
}
.blk-8 {
  width: 12.5%;
}
.blk-9 {
  width: 11.11111111111111%;
}
.blk-10 {
  width: 10%;
}
.blk-11 {
  width: 9.09090909090909%;
}
.blk-12 {
  width: 8.33%;
}
@media (min-width: 768px) and (max-width: 1280px) {
  .blk-2,
  .blk-7 {
    width: 100%;
  }
  .blk-4,
  .blk-8,
  .blk-10,
  .blk-12 {
    width: 50%;
  }
}
@media (max-width: 768px) {
  .blk-4,
  .blk-6,
  .blk-8,
  .blk-10,
  .blk-12 {
    width: 50%;
  }
  .blk-1,
  .blk-2,
  .blk-3,
  .blk-5,
  .blk-7,
  .blk-9,
  .blk-11 {
    width: 100%;
  }
}
@media (max-width: 480px) {
  [class*='blk-'] {
    width: 100%;
  }
}
