* {
  box-sizing: border-box;
}
body {
  margin: 0;
  background: #eee;
  font-family: 'Roboto Slab', serif;
}
i {
  margin-right: 4px;
}
button.yes {
  background: #4bbf62;
}
button.yes:hover {
  background: #3c994e;
  transition: all 0.1s linear;
}
button.no {
  background: #de4040;
}
button.no:hover {
  background: #b23333;
  transition: all 0.1s linear;
}
div.rootBar {
  color: #909090;
  position: relative;
}
div.rootBar button.addRoot {
  width: 100px;
  height: 50px;
  border: none;
  color: #eee;
  font-family: 'Roboto Slab', serif;
  font-size: 1.1em;
  margin: 20px 0px;
  box-shadow: 2px 2px 8px #202020;
}
div.rootBar span.title {
  color: #505050;
  position: absolute;
  right: 0px;
  line-height: 90px;
  display: inline-block;
  text-align: right;
  font-size: 1.4em;
}
div.container {
  max-width: 980px;
  min-width: 480px;
  padding: 0px 40px;
  margin: 0px auto;
}
div.container div.genMenu {
  box-sizing: border-box;
  width: 250px;
  position: absolute;
  background: #eee;
  z-index: 999;
  border: 2px solid #52a2d9;
  padding: 5px;
  box-shadow: 2px 2px 8px #202020;
}
div.container div.genMenu input {
  display: block;
}
div.container div.genMenu button {
  display: inline-block;
}
div.container div.genMenu input[type='text'] {
  outline: none;
  height: 45px;
  width: 200px;
  color: #505050;
  background: #eee;
  margin: 10px;
  text-align: center;
  border: none;
  border-bottom: 2px dashed #909090;
  font-family: 'Roboto Slab', serif;
  font-size: 1.2em;
}
div.container div.genMenu button.genButton {
  font-size: 1.2em;
  padding: 10px;
  outline: none;
  margin: 10px;
  border: none;
  color: #eee;
  font-family: 'Roboto Slab', serif;
}
div.container div.genMenu span.genError {
  font-size: 0.8em;
  width: 200px;
  text-align: center;
  word-wrap: break-word;
  color: #de4040;
  display: none;
}
div.container div#tree {
  cursor: pointer;
  box-shadow: 2px 2px 8px #202020;
}
div.container div.root {
  position: relative;
  min-height: 60px;
  background: #eee;
  color: #eee;
}
div.container div.root div.blk-ctrl {
  text-align: right;
  position: relative;
}
div.container div.root div.blk-bounds {
  text-align: center;
  position: relative;
}
div.container div.root i.toggle {
  left: 40px;
}
div.container div.root div.front {
  background: #1f8fdb;
  min-height: 60px;
  width: 100%;
}
div.container div.root div.front.editing {
  background: #edbb2f;
  color: #404040;
  transition: all 0.2s linear;
}
div.container div.root div.front .root.ctrl,
div.container div.root div.front .factory.ctrl {
  padding: 0 15px;
  right: 0;
  background: transparent;
  display: inline-block;
  opacity: 0;
  vertical-align: middle;
  line-height: 60px;
}
div.container div.root div.front button.ctrl {
  cursor: pointer;
  width: 60px;
  height: 60px;
  outline: none;
  text-align: center;
  margin: 0 5px;
  background: transparent;
  color: #52a2d9;
  border: none;
  font-size: 1.8em;
}
div.container div.root div.front button.delete:hover {
  color: #de4040;
  border-color: #de4040;
  transition: all 0.2s linear;
}
div.container div.root div.front button.edit:hover {
  color: #edbb2f;
  border-color: #edbb2f;
  transition: all 0.2s linear;
}
div.container div.root div.front button.add:hover,
div.container div.root div.front button.generate:hover {
  color: #4bbf62;
  border-color: #4bbf62;
  transition: all 0.2s linear;
}
div.container div.root div.front button.modify {
  min-width: 60px;
  height: 40px;
  color: #eee;
  line-height: 0px;
  border-radius: 0;
  border: none;
  font-size: 1.1em;
  font-family: 'Roboto Slab', serif;
  margin: 5px;
  padding: 5px;
}
div.container div.root div.front button.modify i {
  margin: 0;
}
div.container div.root div.root.front:hover .ctrl,
div.container div.root div.root.front.editing .ctrl,
div.container div.root div.factory.front:hover .ctrl,
div.container div.root div.factory.front.editing .ctrl {
  opacity: 1;
}
div.container div.root div.root.front.editing span.input,
div.container div.root div.factory.front.editing span.input {
  border-bottom: 2px solid #404040;
}
div.container div.root i {
  position: relative;
}
div.container div.root span.label {
  position: relative;
  left: 4px;
  white-space: nowrap;
  line-height: 60px;
}
div.container div.root span.root.label {
  margin-top: 14px;
  font-size: 1.4em;
  margin-left: 40px;
}
div.container div.root div.factory {
  line-height: 60px;
  position: relative;
  background: #ccc;
  font-size: 1em;
  color: #505050;
}
div.container div.root div.factory div.blk-ctrl {
  text-align: right;
  position: relative;
}
div.container div.root div.factory span.factory.bounds {
  font-size: 1.2em;
  margin-left: 20px;
}
div.container div.root div.factory span.factory.bounds span.input.lowerBound {
  padding: 0 2px;
}
div.container div.root div.factory span.factory.bounds span.input.upperBound {
  padding: 0 2px;
}
div.container div.root div.factory i.toggle {
  left: 70px;
}
div.container div.root div.factory i.ctrl,
div.container div.root div.factory i.toggle {
  position: relative;
}
div.container div.root div.factory button.ctrl {
  color: #505050;
}
div.container div.root div.factory span.factory.label {
  color: #505050;
  font-size: 1.2em;
  margin-left: 70px;
  line-height: 40px;
}
div.container div.root div.factory div.child {
  position: relative;
  line-height: 30px;
  background: #ddd;
  border-bottom: 1px solid #c7c7c7;
  height: 30px;
}
div.container div.root div.factory div.child span.child.label {
  color: #505050;
  font-size: 1em;
  margin-left: 90px;
  line-height: 30px;
}
